@font-face {
  font-family: chalk;
  src: url('../assets/chalkFont.ttf') format('truetype');
}

/*
to do:
- modify home image to look nice
- put home text on a background (overlapping post it note?)
- make button look nice

- add about content
- add portfolio content
- add contact content

cool pattern to use for portfolio:
html {
  --s: 66px; --- control the size
  --c1: #a4c2a8;
  --c2: #f1c8d8;
  
  --_g: #0000 90deg,var(--c1) 0;
  background: 
    conic-gradient(from 90deg at 2px 2px,var(--_g)),
    conic-gradient(from 90deg at 1px 1px,var(--_g)),
    var(--c2);
  background-size: var(--s) var(--s), calc(var(--s)/5) calc(var(--s)/5);
}

*/

body, html{
  height: 100%;
}

html {
  /* Set background image and properties */
  background-image: url("../assets/chalkboard.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-color: black; /*adding in this to prevent white flash when loading bg image*/

  /* Remove default margin and padding */
  margin: 0;
  padding: 0;

  /* Set font family */
  font-family: chalk, sans-serif;
  color: white;
}

body{
  margin:0;
  padding: 0;
}

.topnav{
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  align-items: center;
}

.topnav ul{
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.topnav li{
  display: inline;
}

.topnav a{
  padding: 8px;
  text-decoration: none;
  color: #CE5C5C;
}

.topnav a:hover{
  color: white;
}

main{
  margin: 2em;
  padding: 1em 2em 6em 2em;

  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

section{
  max-width: 70%;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.homeContent #profileImage{
  width: 15em;
  padding: 1em;
  margin: 1em;
  float: left;
  clip-path: circle(40%);
}

#introduction p{
  font-family: Arial, Helvetica, sans-serif;
  word-spacing: normal;
  text-align: center;
}

button {
  background-color: #CE5C5C;
  color: white;
  font-family: chalk, sans-serif;
  border: none;
  padding: 1em;
  text-decoration: none;
  border-radius: 1em;
}

footer{
  position: fixed;
  background-color: #CE5C5C;
  bottom: 0; 
  width: 100%;
  height: 3em;
}

footer p{
  display: flex;
  justify-content: center;
}

h1, h1, h3, h4, h5, h6, p, a{
  word-spacing: 0.5em; /*Spacing between words too small. This fixes that*/
}

@media screen and (max-width: 600px) {
  html, button{
    font-size: 3.2vw;
  }

  .topnav{
    display: flex;
    justify-content: center;
  }
}