@font-face {
  font-family: chalk;
  src: url('../assets/chalkFont.ttf') format('truetype');
}

body, html{
  height: 100%;
}

html {
  /* Set background image and properties */
  background-image: url("../assets/chalkboard.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-color: black; /*adding in this to prevent white flash when loading bg image*/

  /* Remove default margin and padding */
  margin: 0;
  padding: 0;

  /* Set font family */
  font-family: chalk, sans-serif;
  color: white;
}

body{
  margin:0;
  padding: 0;
}

.topnav{
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  align-items: center;
}

.topnav ul{
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.topnav li{
  display: inline;
}

.topnav a{
  padding: 8px;
  text-decoration: none;
  color: #CE5C5C;
}

.topnav a:hover{
  color: white;
}

main{
  margin: 2em;
  padding: 2em;

  display: flex;
  justify-content: center;
  /*need to figure out how to get footer to not overlap objects*/
}

section{
  max-width: 70%;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.homeContent #profileImage{
  float:;eft;
}

footer{
  position: fixed;
  background-color:#CE5C5C;
  bottom: 0; 
  width: 100%;
  height: 3em;
}

footer p{
  display: flex;
  justify-content: center;
}

h1, h1, h3, h4, h5, h6, p, a{
  word-spacing: 0.5em; /*Spacing between words too small. This fixes that*/
}

@media screen and (max-width: 600px) {
  html {
    font-size: 3.2vw;
  }

  main{
    margin: 2em;
    padding: 2em;
  }
}